<h1>Create Group</h1>

<%= form_for @group do |g|%>

	<% if @group.errors.any? %>
		<div>
			<h4><%= pluralize(@group.errors.count, "error") %> occurred</h4>

			<ul>
				<% @group.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

	<%= g.label :gname, "Group Name" %><br>
	<%= g.text_field :gname %><br>
	<%= g.label "Add users (CTRL+click to select multiple)" %><br>
	<%= g.collection_select(:user_ids, @all_users, :id, :username, {}, {:multiple => true}) %>
	<%= g.submit "Create"%>
<% end %>

<%= link_to "Back", currentUser %>
