<head>
<%= stylesheet_link_tag('application', :media => 'all') %>	
</head>

<div class="blue-bar">
	<p class ="top-header">Group Page</p>
</div>

<br>

<div align="center" class="forms">

<%= form_for @group do |g|%>

	<% if @group.errors.any? %>
		<div>
			<h4><%= pluralize(@group.errors.count, "error") %> occurred</h4>

			<ul>
				<% @group.errors.full_messages.each do |message| %>
				<li><%= message %></li>
				<% end %>
			</ul>
		</div>
		<% end %>

	<table>
		<tr>
			<th>Group Name</th>
			<td><%= g.text_field :gname %></td>
		</tr>
		<tr>
			<th>Add users (CTRL+click to select multiple)</th>
			<td><%= g.collection_select(:user_ids, @all_users, :id, :username, {}, {:multiple => true}) %></td>
		</tr>
	</table>

	<%= g.submit "Create"%>
<% end %>

<%= link_to "Back", currentUser %>
