<!DOCTYPE html>
<html>
	<head>
		<title>GroupMeet - Map</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"">
		<meta charset="utf-8">

        <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" rel="stylesheet">

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1vykYc_wmmkjw6FSd3i_s58eQcI-OP4&callback=initMap&libraries=places"
		async defer></script>

    	<%= javascript_include_tag('public') %>
    	<%= stylesheet_link_tag('application', :media => 'all') %>
		
	</head>
	<body>
	    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><i class="fa fa-car"></i></a></li>
                <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
                <li><a href="#groups" role="tab"><i class="fa fa-users"></i></a></li>
            </ul>

            <ul role="tablist">
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Enter Locations
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1><br>
                <p>Enter two locations. GroupMeet will automatically find the most central Starbucks location in between those two points!</p>
                <div id = "controls" style="height = 1em;"> 
                	Address 1: <input id="addr1" type="text" name="addr1"><br>
                	Address 2: <input id="addr2" type="text" name="addr2"><br>
                	<input type="button" value="Submit" onclick="calculateAddr()"/>
                </div>
            </div>
            <div class="sidebar-pane" id="profile">
                <h1 class="sidebar-header">
                    Profile
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1><br>
                <div align="center" class="forms">

                	<h4>Profile Information</h4>
	                <table class="profile_info">
	                	<tr>
	                		<th><b>Name:</b></th>
	                		<td><%= currentUser.firstName %><%= currentUser.lastName %></td>
	                	</tr>
	                	<tr>
	                		<th><b>Email:</b></th>
	                		<td><%= currentUser.email %></td>
	                	</tr>
	                </table>
	                <br>

	                <%= link_to "Back to profile", currentUser %>
                </div>

            </div>
            <div class="sidebar-pane" id="groups">
                <h1 class="sidebar-header">
                    Group <%= @group.gname %>
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1><br>
                <div align="center" class="forms">

                	<h4>Group Information</h4>
                	<table class ="groups">
                		<tr>
                			<th>Members</th>
                		</tr>
                		<% @group.users.each do |t| %>
                		<tr>
                			<td><%= t.u_email %></td>
                		</tr>
                		<% end %>
                	</table>

                	<br>
                	<%= link_to "Back to profile", currentUser %>

                </div>
            </div>
        </div>
    </div>
	
		<div id="map"></div>
		<script>var sidebar = $('#sidebar').sidebar();</script>
	</body>
</html>
