
<h1>Profile</h1>
<p>
<b>Username:</b>
  <%= @user.firstName %>
  <%= @user.lastName %>
</p>
<p>
  <b>Email:</b>
  <%= @user.email %>
</p>

<%= link_to "Create Group", :controller => "groups", :action => "new" %><br>

<br>
<p>Groups Joined:</p>
<ul>
<% currentUser.groups.each do |g| %>
<li><%= g.gname %>
<%= link_to "View", g %>
<%= link_to "Delete", g, method: :delete, data: {confirm: "Are you sure?"} %>
</li>
<% end %>
</ul>

<%= link_to "Logout", root_url %>




