<div class="sidebar-pane" id="profile">
  <h1 class="sidebar-header">
    Profile
    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
  </h1><br>
  <% if !loggedIn? %>
    <p>Register for a new account to save group coordinates!</p>
  <% else %>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Profile Information</div>
      <!-- List group -->
      <ul class="list-group">
        <li class="list-group-item">Name: <%= currentUser.firstName %> <%= currentUser.lastName %></li>
        <li class="list-group-item">Email: <%= currentUser.email %></li>
        <li class="list-group-item"><a class="btn" data-toggle="modal" data-target="#UpdateInfo-Modal">Update Profile</a></li>
        <li class="list-group-item"><a class="btn" data-toggle="modal" data-target="#ChangePassword-Modal">Change Password</a></li>
      </ul>
    </div>
    <div class="panel panel-default">
      <!-- Default panel contents -->
      <div class="panel-heading">Groups Joined:</div>

      <!-- List group -->
      <ul class="list-group">
        <% currentUser.groups.each do |g| %>
          <li class="list-group-item"><%= g.gname %><span class="list-group-addon"><%= link_to "Delete", g, :method => :delete, :confirm => "are you sure?" %></span></li>
        <% end %>
      </ul>
    </div>
  <% end %>
</div>