<!DOCTYPE html>
<html>
	<head>
		<title>GroupMeet - Map</title>
		<meta name="viewport" content="initial-scale=1.0, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"">
		<meta charset="utf-8">
		<style>
			/* Always set the map height explicitly to define the size of the div
			 * element that contains the map. */
			#map {
				height: 100%;
			}
			/* Optional: Makes the sample page fill the window. */
			html, body, map {
				height: 100%;
				width: 100%;
				margin: 0;
				padding: 0;
			}
		</style>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
		<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1vykYc_wmmkjw6FSd3i_s58eQcI-OP4&callback=initMap&libraries=places"
		async defer></script>
		<!-- <script src="map.js"></script> -->
		<!-- <link rel="stylesheet" href="sidebar.css" /> -->
    	<!-- <link rel="stylesheet" href="googleMapsAPITutorial.css" /> -->
    	<%= javascript_include_tag('public') %>
    	<%= stylesheet_link_tag('application', :media => 'all') %>
		
	</head>
	<body>
	    <div id="sidebar" class="sidebar collapsed">
        <!-- Nav tabs -->
        <div class="sidebar-tabs">
            <ul role="tablist">
                <li><a href="#home" role="tab"><%=image_tag('arrowRight.png', :size => '20x20', :alt => '>')%><i class="fa fa-bars"></i></a></li>
                <!-- <li><a href="#" role="tab"><i class="fa fa-user"></i></a></li> -->
            </ul>

            <ul role="tablist">
                <!-- <li><a href="#settings" role="tab"><i class="fa fa-gear"></i></a></li> -->
            </ul>
        </div>

        <!-- Tab panes -->
        <div class="sidebar-content">
            <div class="sidebar-pane" id="home">
                <h1 class="sidebar-header">
                    Enter Coordinates <%= link_to "Login", login_path%> <%= link_to "Sign Up", signup_path%>
                    <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
                </h1>
                <p>Enter two locations. GroupMeet will automatically find the most central Starbucks location in between those two points!</p>
                <div id = "controls" style="height = 1em;"> 
                	Address 1: <input id="addr1" type="text" name="addr1"><br>
                	Address 2: <input id="addr2" type="text" name="addr2"><br>
                	<input type="button" value="Submit" onclick="calculateAddr()"/>
                </div>
            </div>
        </div>
    </div>
	
		<div id="map"></div>
		<!-- <script src="sidebar.js"></script> -->
		<script>var sidebar = $('#sidebar').sidebar();</script>
	</body>
</html>