<!DOCTYPE html>
<html>
  <head>
    <title>GroupMeet - Map</title>
    <meta name="viewport" content="initial-scale=1.0, width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no"">
    <meta charset="utf-8">

    <script src="http://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
    <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAT1vykYc_wmmkjw6FSd3i_s58eQcI-OP4&libraries=places"
    async defer></script>

    <%= csrf_meta_tag %>
    <%= javascript_include_tag('public') %>
    <%= stylesheet_link_tag('application', :media => 'all') %>

  </head>
  <body style="margin:0;width:100%;height:100%">
    <nav class="navbar navbar-inverse navbar-fixed-top">
      <div class="container-fluid">
        <div class="navbar-header">
          <p class="navbar-title">GroupMeet</p>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <% flash.each do |message_type, message| %>
          <div class="alert alert-<%= message_type %> nav navbar-nav navbar-center"><%= message %></div>
          <% end %>
          <% if !loggedIn? %>
            <li><a class="btn" data-toggle="modal" data-target="#Login-Modal">Login</a></li>
            <li><a class="btn" data-toggle="modal" data-target="#Register-Modal">Register</a></li>
          <% else %>
            <li><%= link_to "Log Out", logout_path, method: :delete%><li/>
          <% end %>
        </ul>
      </div>
    </nav>

    <div id="sidebar" class="sidebar collapsed">
      <!-- Nav tabs -->
      <div class="sidebar-tabs">
        <ul role="tablist">
          <li><a href="#home" role="tab"><i class="fa fa-car"></i></a></li>
          <li><a href="#profile" role="tab"><i class="fa fa-user"></i></a></li>
          <li><a href="#groups" role="tab"><i class="fa fa-users"></i></a></li>
        </ul>

        <ul role="tablist">
        </ul>
      </div>

      <!-- Tab panes -->
      <div class="sidebar-content">
        <div class="sidebar-pane" id="home">
          <h1 class="sidebar-header">
            Enter Locations
            <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1><br>
          <div class="top-part">
            <p>Enter at least two locations. GroupMeet will automatically find the most central location to meet between those points!</p>

            <div id ="controls">
              <div id="locationType">
                <div class="form-group">
                  <label for="sel1">Select Location Type:</label>
                  <select id="locList" class="form-control">
                  <option index="1" id="initOption">Coffee Shop</option>
                  <option index="2">Restaurant</option>
                  <option index="3">Park</option>
                  <option index="4">Library</option>
                  <option index="5" id="otherOption" data-toggle="modal" data-target="#optionModal">Other...</option>
                  </select>
                </div>
              </div>
            </div>
          </div>

          <hr>

          <div class="row">
            <div class="col-md-6">
              <button type="button" class="btn btn-secondary" onclick="addAddressHTML()"> Add Address</button>
            </div>
            <div class="col-md-6">
              <button type="button" class="btn btn-primary" onclick="calculateAddr()">Submit</button>
            </div>
          </div>

          <hr>

          <div class="row content">
            <div id="addressList" class="col-md-12">
              <div class="address">
                <div class="address-header">Address 1</div>
                <div class="transport-options">
                  <a class = "carMode" id="car1" active="1" onclick="setColour(event)"><i class="fa fa-car"></i></a>
                  <a class = "transitMode" id="transit1" onclick="setColour(event)"><i class="fa fa-subway"></i></a>
                  <a class = "walkMode" id="walk1" onclick="setColour(event)"><i class="fa fa-male"></i></a>
                  <a class = "bicycleMode" id="bicycle1" onclick="setColour(event)"><i class="fa fa-bicycle"></i></a>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input class="addressCheck" type="checkbox" checked>
                  </span>
                  <input type="text" class="form-control addrInput" placeholder="Address 1">
                </div>
                <div class="row tripInfo">
                  <div class="tripDuration col-md-6">
                    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><span id="timeText"></span>
                  </div>
                  <div class="tripDistance col-md-6">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span><span id="distanceText"></span>
                  </div>
                </div>
              </div>
              <hr>
              <div class="address">
                <div class="address-header">Address 2</div>
                <div class="transport-options">
                  <a class = "carMode" id="car2" active="1" onclick="setColour(event)" ><i class="fa fa-car"></i></a>
                  <a class = "transitMode" id="transit2" onclick="setColour(event)"><i class="fa fa-subway"></i></a>
                  <a class = "walkMode" id="walk2" onclick="setColour(event)"><i class="fa fa-male"></i></a>
                  <a class = "bicycleMode" id="bicycle2" onclick="setColour(event)"><i class="fa fa-bicycle"></i></a>
                </div>
                <div class="input-group">
                  <span class="input-group-addon">
                    <input class="addressCheck" type="checkbox" checked>
                  </span>
                  <input type="text" class="form-control addrInput" placeholder="Address 2">
                </div>
                <div class="row tripInfo">
                  <div class="tripDuration col-md-6">
                    <span class="glyphicon glyphicon-hourglass" aria-hidden="true"></span><span id="timeText"></span>
                  </div>
                  <div class="tripDistance col-md-6">
                    <span class="glyphicon glyphicon-flag" aria-hidden="true"></span><span id="distanceText"></span>
                  </div>
                </div>
              </div>
              <hr>

            </div>
          </div>

        </div>


        <div class="sidebar-pane" id="profile">
          <h1 class="sidebar-header">
            Profile
            <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1><br>
          <% if !loggedIn? %>
            <p>Register for a new account to save group coordinates!</p>
          <% else %>
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Profile Information</div>
              <!-- List group -->
              <ul class="list-group">
                <li class="list-group-item">Name: <%= currentUser.firstName %> <%= currentUser.lastName %></li>
                <li class="list-group-item">Email: <%= currentUser.email %></li>
                <li class="list-group-item"><a class="btn" data-toggle="modal" data-target="#UpdateInfo-Modal">Update Profile</a></li>
                <li class="list-group-item"><a class="btn" data-toggle="modal" data-target="#ChangePassword-Modal">Change Password</a></li>
              </ul>
            </div>
            <div class="panel panel-default">
              <!-- Default panel contents -->
              <div class="panel-heading">Groups Joined:</div>

              <!-- List group -->
              <ul class="list-group">
                <% currentUser.groups.each do |g| %>
                  <li class="list-group-item">
                    <%= g.gname %>
                    <span class="list-group-addon">
                    <% if currentUser.id == g.groupowner %>
                      <%= link_to "Delete", g, :method => :delete, data: {confirm: "Are you sure?"} %>
                    <% end %>
                    <%= link_to "Leave Group", removeuser_path(:groupid => g.id, :userid => currentUser.id), :method => :delete, data: {confirm: "Are you sure you want to leave this group?"} %>
                    </span>
                  </li>
                <% end %>
              </ul>
            </div>

            <div class="panel-heading">Group Invites</div>
            <div class="group-invites">
              <% currentUser.invites.each do |i| %>
                <li class="invite-list">
                  <%= Group.find_by(i.group_id).gname %>
                </li>
              <% end %>
            </div>
          <% end %>
        </div>

        <div class="sidebar-pane" id="groups">
          <h1 class="sidebar-header">
            Groups
            <span class="sidebar-close"><i class="fa fa-caret-left"></i></span>
          </h1><br>
          <% if !loggedIn? %>
            <p>Register for a new account to save group coordinates!</p>
          <% else %>
            <button data-toggle="modal" data-target="#Group-Modal" class="btn btn-default login-button">Create Group</button>
            <hr>
            <div id="GroupList">
              <%= label_tag "groupselect", "Select Group" %>
              <%= collection_select(:user, :group_ids, currentUser.groups, :id, :g_name, {}, html_options = {class: "form-control"}) %>
              <br>
            </div>
            <hr>
            <%= label_tag "MemberList", "Group Members" %>
            <div id="MemberList">
              <ul id="userbox">
              </ul>
            </div>
            <div id="kickusers">
              <select id="kicklist">
              </select>
              <button id="kickbutton" type="button">Kick User</button>
            </div>
            <hr>
            <div id="AddUsers">
              <%= label_tag "selectaddusers", "Invite a User:" %>
              <input id="adduserbox" />
              <br>
              <button type="button" id="adduserbutton" class="btn btn-default login-button">Invite</button>
            </div>


          <% end %>
        </div>
      </div>
    </div>

    <div id="map"></div>

    <%= render 'updateUserModal'%>
    <%= render 'changePasswordModal'%>
    <%= render 'locationOptionModal'%>
    <%= render 'loginModal'%>
    <%= render 'registerModal'%>
    <%= render 'groupModal'%>


    <script>
    var sidebar = $('#sidebar').sidebar();
    //Check if user logged in before loading 'default' group
    <% if loggedIn? %>
    window.onload = load_group();
    <% end %>
    </script>
  </body>
</html>
